.mainbook-list {
  height: 950px;
  background-image: url("BookListnew.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.mainbook-list ul {
  margin-left: 40%;
  color: white;
  margin-top: 10%;
}
.mainbook-list li {
  margin-top: 2%;
}
.mainbook-list h2 {
  margin-right: 5%;
  color: white;
  text-align: center;
}
